<title>{{title}}</title>

<div class="main">
    <div *ngIf="returnedResult !== null">
        <div id="postContainer" class="post-container">
            <div *ngFor="let post of postResults " class="post">
                <a class="post-title" [routerLink]="['/post/' + post[0]]"> {{ post[1] }}</a>
                <p class="description"> {{ post[2] }} </p>
                <p class="date">{{post[4]}}</p>
            </div>
            <p *ngIf="returnedResult == false"> No post to be seen anywhere!</p>
        </div>
    </div>
    <app-loader class="screen" *ngIf="returnedResult == null"></app-loader>
    <div class="fill"> </div>
</div>