.center {
    margin: auto;
    min-width: 250px; //wdith settings 
    width: 30%;
    max-width: 600px;
    min-height: 330px; //height settings
    height: 35%;
    max-height: 600px;
    padding: 10px;
    transform: translateY(50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-item {
    min-width: 200;
    width: 75%;
    max-width: 500px;
    text-align: left;
    margin: auto;
}

.error-text {
    color: rgb(255, 96, 96);
}

.form-title {
    font-size: 170%;
}

// .fill {
//     height: 50%;
// }