<title>{{title}}</title>

<div style="text-align: center;" class="center">
    <h1 class="form-title">Create an Account</h1>
    <form #signupform="ngForm" (ngSubmit)="user_s.create_user(signupform.value.username,signupform.value.password)" novalidate >
        <br>
        <input ngModel placeholder="Username (6-14 Char.)" name="username" type="text" id="form" class="form-control form-item" />
        <br>
        <input ngModel placeholder="Password (Min. 8 Char.)" name="password" type="password" id="form" class="form-control form-item" />
        <br>
        <p id="error-text" class="error-text"></p>
        <input type="submit" value="Sign Up">
        <br>
        <br>
        <a href="/login">Login here</a>
    </form>
</div>

